body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: url("/Users/farida.umarova23/Desktop/Mohsen_Website/graphene.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    /* Add padding to the top of the body to push the navigation bar to the top */
    padding-top: 40px;
}

/* Reduce the height of h1 background picture to 40px */
h1 {
    font: bolder;
    font-size: 50px;
    text-shadow: 1px 1px 5px #fff;
    height: 40px;
    padding-top: 40px;
}

nav {
    background-color: #131212;
    padding: 30px 0; /* Add padding to the top and bottom of the navigation bar */
    width: 100%;
    position: fixed; /* Add a fixed position to keep the navigation bar at the top */
    top: 0; /* Set the navigation bar to stick to the top of the page */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}

nav a.active {
    background-color: #808080;
    color: #ffffff;
    padding: 30px;
}

/* Add padding to the table */
table {

    background-color: #ffffff;
}

th {
    height: 60px;
  }

  tr {
    height: 60px;
  }